In [140]:
import pandas as pd
import xgboost as xgb
import numpy as np
from scipy.stats import uniform, randint
from sklearn.metrics import auc, accuracy_score, confusion_matrix, roc_auc_score
from sklearn.model_selection import cross_val_score, GridSearchCV, KFold, RandomizedSearchCV, train_test_split

In [141]:
def report_best_scores(results, n_top=3):
    for i in range(1, n_top + 1):
        candidates = np.flatnonzero(results['rank_test_score'] == i)
        for candidate in candidates:
            print("Model with rank: {0}".format(i))
            print("Mean validation score: {0:.3f} (std: {1:.3f})".format(
                  results['mean_test_score'][candidate],
                  results['std_test_score'][candidate]))
            print("Parameters: {0}".format(results['params'][candidate]))
            print("")

In [142]:
data = pd.read_csv('train_final.csv')
data = data.sample(frac=1)

Y = data.Y
X = pd.DataFrame(data.drop('Id', axis=1))
X = X.drop('Y', axis=1)

X = X.drop('f24', axis=1)
X = X.drop('f20', axis=1)
X = X.drop('f11', axis=1)
X = X.drop('f6', axis=1)
X = X.drop('f18', axis=1)
X = X.drop('f9', axis=1)
X = X.drop('f5', axis=1)
X = X.drop('f22', axis=1)
X = X.drop('f2', axis=1)
X = X.drop('f21', axis=1)


[X.iloc[i, j] for i,j in zip(*np.where(pd.isnull(X)))]
X

,f1,f3,f4,f7,f8,f10,f12,f13,f14,f15,f16,f17,f19,f23
4119,45903,1.77,117891,117890,117879,0,1,117880,-2.872073,20440,117878,19721,117879,1
1984,27123,1.77,118327,117961,117906,0,1,117908,1.101435,7610,120383,290919,117905,1928
13616,74908,1.77,118386,117961,134559,0,2,117908,1.000000,71186,118522,290919,117905,1
9696,32585,3.54,118291,118290,260942,0,5,120346,1.000000,5320,119598,118424,120344,10
16621,25273,3.54,118300,117961,204593,0,1,118332,0.000000,4736,118301,118331,307024,5
4497,34860,24.78,118386,117961,117906,1,1,117908,1.588628,5511,119954,290919,117905,1
6751,23920,1.77,118343,117961,132719,0,2,118332,0.386275,5323,119598,118331,307024,1
11029,20293,3.54,118150,117916,117913,0,1,117888,1.000000,77372,117884,117887,117885,1
11785,33145,1.77,118300,117961,279443,0,2,118779,3.124701,21033,123749,308574,118777,2
7600,80771,1.77,118052,117961,117906,0,1,118322,1.147093,4500,118881,290919,118321,22
18335,32269,5.31,118300,117961,290919,1,1,118786,1.000000,1409,120722,290919,118784,8
10729,37942,5.31,118007,118006,128802,1,8,118813,-0.499968,17973,118810,19793,118811,24
18171,5763,1.77,118343,117961,132715,2,2,118279,1.000000,7002,123125,290919,118278,1
19199,33641,1.77,118007,118006,117897,2,1,117880,1.000000,19881,117941,19721,117879,15
3517,79298,7.08,118257,118256,126238,0,1,118943,1.000000,15610,117945,292795,259173,157
4860,42030,3.54,118463,118315,278014,0,1,118532,-2.339103,41782,118522,118131,118530,2973
4587,34747,17.70,117903,117902,152641,1,4,118865,-0.350206,125466,120171,118398,118863,4
18375,15719,1.77,118225,117961,240983,0,1,117908,1.000000,6199,120663,290919,117905,21
6788,42501,1.77,118343,117961,118362,0,2,118364,2.332735,4055,120722,118363,118361,1
5216,16175,1.77,118225,117961,117906,0,1,117908,0.155176,6199,120663,290919,117905,4
8385,80841,61.95,118343,117961,117906,0,1,118322,-6.325754,743,120722,290919,118321,1
3195,87089,10.62,118225,117961,269406,0,1,123068,2.052507,17223,120535,118398,123067,11
963,25642,1.77,118300,117961,310589,0,2,118639,-0.739399,4945,118360,118638,118636,8
7663,41440,1.77,118386,117961,152307,1,14,118454,-2.312487,7389,118746,118453,118451,49
5715,42084,1.77,118220,118219,117879,0,2,117880,1.000000,22871,118221,19721,117879,3
487,81264,7.08,117903,117902,130134,0,2,120954,1.000000,888,7646,118453,120952,1
7115,45323,3.54,118052,117961,117906,0,2,118322,-4.082354,3967,118706,290919,118321,3
4669,23987,3.54,118300,117961,311441,0,1,118892,1.247841,5015,118395,118398,118890,2
19364,25992,3.54,118300,117961,124356,0,3,118055,1.000000,4924,120144,117887,118054,40
8940,20225,1.77,119070,118752,118806,0,1,119887,1.000000,23450,118754,118474,119885,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7023,87602,3.54,118327,117961,117906,0,1,118322,1.000000,2610,121979,290919,118321,2
13368,29290,3.54,117962,117961,4673,0,7,119348,0.000000,52687,118910,4673,119346,9
13107,6976,1.77,118343,117961,168365,2,1,119964,-4.733527,5385,122012,118205,119962,11
10118,79542,21.24,118386,117961,117906,2,2,117908,1.573913,13876,118404,290919,117905,182
1752,34989,10.62,118291,118290,308262,0,8,118399,1.000000,2710,120823,118398,118396,2
16447,39142,12.39,118007,118006,127856,0,4,118570,0.000000,25769,117878,19721,118568,19
13334,75180,3.54,118201,118200,122957,0,3,121070,0.000000,83733,117920,121069,121067,1
15518,38586,1.77,118080,118079,118177,1,1,117880,0.000000,65460,117878,19721,117879,1
20031,1150,1.77,118327,117961,149216,0,1,118892,1.000000,124899,120171,118398,118890,1
12073,95341,1.77,118343,117961,121350,0,31,119951,-0.891931,15435,122299,290919,119949,3253
7387,28786,1.77,119597,119596,272276,1,12,118730,1.000000,51096,124266,118295,118728,10
64,27123,1.77,118327,117961,126339,5,1,120099,1.854358,54303,118492,270488,120097,1
10779,4674,8.85,118446,117961,120316,0,5,118687,-1.566496,5360,122550,308574,118685,4
1881,78999,3.54,118102,117890,278014,0,1,120629,0.696395,5665,117878,118131,120628,2
18607,81284,12.39,118026,91261,117906,7,1,117908,1.000000,8115,118202,290919,117905,2
8031,78134,1.77,118413,117961,117906,0,1,117908,0.850851,4468,119968,290919,117905,3
19990,75953,1.77,118026,91261,190841,1,1,118206,1.000000,70066,118202,118205,118203,1
9400,16789,1.77,118343,117961,117906,0,1,118322,2.437322,7520,124725,290919,118321,15
3191,40008,5.31,118343,117961,122058,1,8,118687,-0.796563,1903,118514,308574,118685,4
17809,41757,5.31,118463,118315,130219,0,1,118786,1.000000,28253,123089,290919,118784,2
7070,79091,3.54,118343,117961,117906,0,2,117908,-3.807318,4641,121747,290919,117905,82
10262,45725,1.77,117936,117935,117937,0,1,117888,1.000000,49735,117878,117887,117885,38
11200,75833,1.77,118991,118990,120828,0,2,117908,0.531568,7583,118992,290919,117905,1
9490,13877,1.77,118150,117916,117886,0,2,117880,1.000000,53396,117920,19721,117879,340
3294,1019,1.77,117962,117961,118054,1,3,118055,1.921418,7023,119223,117887,118054,13
135,73109,3.54,117903,117902,152438,0,1,120992,0.270436,57740,120171,118398,120990,1
17252,23095,3.54,118052,117961,117906,18,1,118322,1.000000,4084,118992,290919,118321,1
87,42092,1.77,118300,117961,118054,3,1,118055,1.144944,2395,123055,117887,118054,54
18636,3852,1.77,118300,117961,118260,1,1,118279,1.000000,4567,118514,290919,118278,3
15829,75184,1.77,118001,118000,121396,0,1,117880,0.430000,58967,117941,19721,117879,1

In [143]:
xgb_model = xgb.XGBClassifier(objective="binary:logistic", random_state=42)
xgb_model.fit(X,Y)

yhat = xgb_model.predict(X)

print(confusion_matrix(Y, yhat))

[[  597   653]
 [    0 20097]]

In [144]:
xgb_model = xgb.XGBRegressor()

params = {
    "colsample_bytree": uniform(0.7, 0.3),
    "gamma": uniform(0, .5),
    "learning_rate": uniform(0.03, 0.3),
    "max_depth": randint(2, 6),
    "n_estimators": randint(100,150)
}

search = RandomizedSearchCV(xgb_model, param_distributions=params, random_state=42, n_iter=200, cv=7, verbose=1, n_jobs=-1, return_train_score=True)

search.fit(X,Y)

report_best_scores(search.cv_results_, 1)

Fitting 7 folds for each of 200 candidates, totalling 1400 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    4.5s
[Parallel(n_jobs=-1)]: Done 168 tasks      | elapsed:   21.3s
[Parallel(n_jobs=-1)]: Done 418 tasks      | elapsed:   48.0s
[Parallel(n_jobs=-1)]: Done 768 tasks      | elapsed:  1.4min
[Parallel(n_jobs=-1)]: Done 1218 tasks      | elapsed:  2.3min
[Parallel(n_jobs=-1)]: Done 1400 out of 1400 | elapsed:  2.7min finished

Model with rank: 1
Mean validation score: 0.488 (std: 0.031)
Parameters: {'colsample_bytree': 0.8609771937961997, 'gamma': 0.46202087955371657, 'learning_rate': 0.10083495993522129, 'max_depth': 5, 'n_estimators': 122}

In [145]:
report_best_scores(search.cv_results_, 1)

Model with rank: 1
Mean validation score: 0.488 (std: 0.031)
Parameters: {'colsample_bytree': 0.8609771937961997, 'gamma': 0.46202087955371657, 'learning_rate': 0.10083495993522129, 'max_depth': 5, 'n_estimators': 122}

In [177]:
xgb_model = xgb.XGBRegressor(objective="binary:logistic", random_state=42, eval_metric="auc", colsample_bytree=.8609771937961997, gamma=.46202087955371657, learning_rate=.10083495993522129, max_depth=5, n_estimators=2500, subsample=.611)
xgb_model.fit(X,Y)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=0.8609771937961997, eval_metric='auc',
       gamma=0.46202087955371657, learning_rate=0.10083495993522129,
       max_delta_step=0, max_depth=5, min_child_weight=1, missing=None,
       n_estimators=2500, n_jobs=1, nthread=None,
       objective='binary:logistic', random_state=42, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=None, silent=True,
       subsample=0.611)

In [178]:
train_final = pd.read_csv("final_3000.csv")
train_final_Y = train_final.Y
train_final = train_final.drop('Id', axis=1)
train_final = train_final.drop('Y', axis=1)

train_final = train_final.drop('f24', axis=1)
train_final = train_final.drop('f20', axis=1)
train_final = train_final.drop('f11', axis=1)
train_final = train_final.drop('f6', axis=1)
train_final = train_final.drop('f18', axis=1)
train_final = train_final.drop('f9', axis=1)
train_final = train_final.drop('f5', axis=1)
train_final = train_final.drop('f22', axis=1)
train_final = train_final.drop('f2', axis=1)
train_final = train_final.drop('f21', axis=1)

yguess = xgb_model.predict(train_final)
yguess = pd.DataFrame(yguess)
yguess
    
score = roc_auc_score(train_final_Y, yguess)
score

1.0

In [183]:
x_test = pd.DataFrame(pd.read_csv('test_final.csv'))
x_test = x_test.drop('Id', 1)
x_test = x_test.drop('f24', axis=1)
x_test = x_test.drop('f20', axis=1)
x_test = x_test.drop('f11', axis=1)
x_test = x_test.drop('f6', axis=1)
x_test = x_test.drop('f18', axis=1)
x_test = x_test.drop('f9', axis=1)
x_test = x_test.drop('f5', axis=1)
x_test = x_test.drop('f22', axis=1)
x_test = x_test.drop('f2', axis=1)
x_test = x_test.drop('f21', axis=1)


yhat = xgb_model.predict(x_test)
yhat = pd.DataFrame(yhat)
    
yhat.to_csv("RF_Day2")

In [184]:
yhat

              0
0      0.982329
1      0.984725
2      1.000000
3      0.999999
4      0.999244
5      0.999992
6      0.985679
7      0.997986
8      0.999962
9      0.999994
10     0.999945
11     0.997072
12     0.999212
13     0.998763
14     0.989599
15     0.999999
16     0.999240
17     0.999974
18     0.999977
19     0.999446
20     0.979312
21     0.993946
22     0.988245
23     0.983183
24     0.999976
25     0.999797
26     0.991997
27     0.946927
28     0.999305
29     0.994523
...         ...
16355  0.999987
16356  0.998451
16357  0.989202
16358  0.998828
16359  0.998944
16360  0.999165
16361  0.999985
16362  0.951159
16363  0.999990
16364  0.992837
16365  0.999979
16366  0.999967
16367  0.999958
16368  0.999484
16369  0.998881
16370  0.999753
16371  0.999988
16372  0.977534
16373  0.991485
16374  0.992261
16375  0.991122
16376  0.989722
16377  0.999916
16378  0.998845
16379  0.999751
16380  0.999993
16381  0.999634
16382  0.999988
16383  0.985679
16384  0.998844

[16385 rows x 1 columns]

In [109]:
sf

       Y
0      1
1      0
2      1
3      1
4      1
5      1
6      0
7      1
8      1
9      1
10     1
11     1
12     1
13     1
14     1
15     1
16     1
17     1
18     1
19     1
20     1
21     1
22     0
23     1
24     1
25     1
26     1
27     0
28     1
29     1
...   ..
16355  1
16356  1
16357  1
16358  0
16359  0
16360  1
16361  1
16362  1
16363  1
16364  1
16365  1
16366  1
16367  1
16368  1
16369  1
16370  1
16371  1
16372  1
16373  0
16374  0
16375  0
16376  1
16377  1
16378  1
16379  1
16380  1
16381  0
16382  1
16383  1
16384  0

[16385 rows x 1 columns]